.header {
  background: #f7ca18;
  color: rgb(74, 57, 57);
  text-align: center;
  height: 50px;
  padding: 0 ;
  font-weight: bold;
  font-size: 2em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  margin: 0;
}
